<!-- Layout --> 

<!-- Citation for the following layout: 
        Date: 11/14/2023
        Based on the CS340 starter code
        Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crispyroll</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    {{{body}}}

</body>
</html>