<body>
    <header>
        <nav>
            <div class="logo"><a href="index.html">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="users.html">Users</a>
                <a href="animes.html">Animes</a>
                <a href="studios.html">Studios</a>
                <a href="ratings.html">Ratings</a>
                <a href="users_animes.html">Users/Animes</a>
            </div>
        </nav>
    </header>
    <section>
        <h1>OVERVIEW</h1>
        <div class="home-section">
            <p>
                In recent years, the anime industry has exploded in popularity, with a market value of $28 billion in 2022
                and an expected $60 billion by 2030. While originating in Japan, anime content and merchandise has spread
                globally. In October 2020, the anime industry brought its best-selling film of all time to theaters: Demon
                Slayer the Movie: Mugen Train, produced by Ufotable studio. Bringing in over $500 million for the industry,
                the film paved the way for many other hits to follow.
            </p>
            <br>
            <p>
                With anime popularity on the rise, a company named Crispyroll emerged to create a space for fans to come
                together and leave their own ratings on what they have watched. Their database driven website allows Users
                to add Animes from different Studios to their watchlist, as well as Ratings for the Animes. The watchlist
                will allow Users a place to keep track of the Animes they have watched, which Studios produced the Animes,
                how many episodes the Animes have, and the option to leave Ratings on the Animes. Once Users want to leave
                optional feedback, they are prompted to rate the show out of 5 stars and leave a comment with their
                authentic opinion. This can also be done anonymously!
            </p>
            <br>
            <p>
                After sending out an interest survey, around 2,000 Users are excited to join the platform! There are
                currently over 400 anime Studios and over 12,000 Animes produced, so with the expected growth, the database
                will need to support this large amount of data. Crispyroll is excited to welcome Users who are ready to rate
                their favorite (and least favorite) Animes!
            </p>
        </div>
    </section>
</body>
