<body>
    <header>
        <nav>
            <div class="logo"><a href="index.html">CRISPYROLL</a></div>
            <div class="nav-links">
                <div class="highlight"><a href="users.html">Users</a></div>
                <a href="animes.html">Animes</a>
                <a href="studios.html">Studios</a>
                <a href="ratings.html">Ratings</a>
                <a href="users_animes.html">Users/Animes</a>
            </div>
        </nav>
    </header>

    <section>
        <h1>USERS</h1>

        <table border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Honestliz</td>
                <td>liz_re6@gmail.com</td>
                <td>
                    <button onclick="deleteUser(1)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Serexolik</td>
                <td>mparker22@gmail.com</td>
                <td>
                    <button onclick="deleteUser(2)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Pebbles44</td>
                <td>seanmorg@yahoo.com</td>
                <td>
                    <button onclick="deleteUser(3)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>PeppermintP</td>
                <td>pmin873@gmail.com</td>
                <td>
                    <button onclick="deleteUser(4)">Delete</button>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>wstr000</td>
                <td>lilyt01@yahoo.com</td>
                <td>
                    <button onclick="deleteUser(5)">Delete</button>
                </td>
            </tr>
        </table>
        <p>&nbsp;</p>

        <!--Insert-->
        <form id="addUser">
            <legend><strong>Add User</strong></legend>
            <fieldset class="fields">
                <label> Username </label> <input type="text" name="name">
                <label> Email </label> <input type="text" name="population">
                <div class="btn-container">
                    <input class="btn" type="submit" id="addUser" value="Add a User">
                    <input class="btn" type="button" value="Cancel">
                </div>
            </fieldset>
        </form>

        <!--Update-->
        <p>&nbsp;</p>
        <form id="updateUser">
            <legend><strong>Update User</strong></legend>
            <fieldset class="fields">
                <label> Username </label> <input type="text" name="name">
                <label> Email </label> <input type="text" name="population">
                <div class="btn-container">
                    <input class="btn" type="submit" id="UpdateSaveUser" value="Save Update User">
                    <input class="btn" type="button" value="Cancel">
                </div>
            </fieldset>
        </form>
        <div>
            <form id="assign">
                <legend><strong>Assign User to Anime</strong></legend>
                <fieldset class="fields">
                    <label>Select User</label>
                    <select name="user" id="user">
                        <option value="none" selected disabled hidden>Select User</option>
                        <option value="1">Honestliz</option>
                        <option value="2">Serexolik</option>
                        <option value="3">Pebbles44</option>
                        <option value="4">PeppermintP</option>
                        <option value="5">wstr000</option>
                    </select>
                    <label>Select Anime</label>
                    <select name="anime" id="anime">
                        <option value="none" selected disabled hidden>Select Anime</option>
                        <option value="1">Hunter x Hunter</option>
                        <option value="2">Attack on Titan</option>
                        <option value="3">Terror in Resonance</option>
                        <option value="4">Jujutsu Kaisen</option>
                        <option value="5">The Promised Neverland</option>
                    </select>
                    <div class="btn-container">
                        <input class="btn" type="submit" id="AssignUserAnime" value="Assign">
                        <input class="btn" type="button" value="Cancel">
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</body>