<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crispyroll</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo"><a href="index.html">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="users.html">Users</a>
                <a href="animes.html">Animes</a>
                <a href="studios.html">Studios</a>
                <a href="ratings.html">Ratings</a>
                <div class="highlight"><a href="users_animes.html">Users/Animes</a></div>
            </div>
        </nav>
    </header>
    <section>
        <h1>USERS/ANIMES</h1>
        <div id="browse" style="display: block">
            <table border="1" cellpadding="5">
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Anime</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Honestliz</td>
                    <td>Hunter x Hunter</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Honestliz</td>
                    <td>Attack on Titan</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Honestliz</td>
                    <td>Terror in Resonance</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Serexolik</td>
                    <td>Jujutsu Kaisen</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Serexolik</td>
                    <td>The Promised Neverland</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Pebbles44</td>
                    <td>Attack on Titan</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Pebbles44</td>
                    <td>The Promised Neverland</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>PeppermintP</td>
                    <td>Hunter x Hunter</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>wstr000</td>
                    <td>Attack on Titan</td>
                </tr>
            </table>
            <p>&nbsp;</p>
        </div>
    </section>
</body>
<footer>
    <p>&copy; 2023 Crispyroll</p>
</footer>
</html>