<body>
    <header>
        <nav>
            <div class="logo"><a href="/index">CRISPYROLL</a></div>
            <div class="nav-links">
                <a href="/users">Users</a>
                <a href="/animes">Animes</a>
                <a href="/studios">Studios</a>
                <a href="/ratings">Ratings</a>
                <div class="highlight"><a href="/users_animes">Users/Animes</a></div>
            </div>
        </nav>
    </header>

    <section>
        <h1>USERS/ANIMES</h1>

        <table border="1" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Anime</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Honestliz</td>
                <td>Hunter x Hunter</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Honestliz</td>
                <td>Attack on Titan</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Honestliz</td>
                <td>Terror in Resonance</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Serexolik</td>
                <td>Jujutsu Kaisen</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Serexolik</td>
                <td>The Promised Neverland</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Pebbles44</td>
                <td>Attack on Titan</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Pebbles44</td>
                <td>The Promised Neverland</td>
            </tr>
            <tr>
                <td>8</td>
                <td>PeppermintP</td>
                <td>Hunter x Hunter</td>
            </tr>
            <tr>
                <td>9</td>
                <td>wstr000</td>
                <td>Attack on Titan</td>
            </tr>
        </table>
        <p>&nbsp;</p>
    </section>
</body>
